{% extends 'blog/layout.html' %} {% block body %}
<div class="content">
  <input
    class="btn btn-primary"
    style="background-color: rgb(170, 110, 68);"
    type="button"
    value="Retour"
    onClick="javascript:history.go(-1);"
  />
  <br>
  <br>
  <div class="title text-right">
    <a
      style="background-color: rgb(142 102 74);"
      class="btn btn-primary mt-2 mb-3"
      href="{% url 'new_article' %}"
      role="button"
      >Ajouter</a
    >
  </div>
<br>

  <div class="display component text-center">
    <!-- Article -->
    <table class="table article">
      <thead>
        <tr>
          <th style="color: #fff" scope="col">Code-barre</th>
          <th style="color: #fff" scope="col">Nom</th>
          <th style="color: #fff" scope="col">Prix</th>
          <th style="color: #fff" scope="col">Quantité</th>
          <th style="color: #fff" scope="col">Fournisseur</th>
          <th style="color: #fff" scope="col">Date d'ajout</th>
          <th style="color: #fff" cope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for article in listarticle %}
        <tr class="{{ article.id }}">
          <td style="color: #fff">{{ article.barcode }}</td>
          <td style="color: #fff">{{ article.name }}</td>
          <td style="color: #fff">{{ article.price }}</td>
          <td style="color: #fff">{{ article.quantite }}</td>
          <td style="color: #fff">{{ article.provider }}</td>
          <td style="color: #fff">{{ article.date_added }}</td>
          <td>
            <a
            style="background-color: rgb(196, 145, 109);"
              href="{% url 'edit_article' article.id %}"
              class="btn btn-warning"
              >Modifier</a
            >
            <a
            style="background-color: #b40404e6;"
              href="{% url 'delete_article' article.barcode %}"
              class="btn btn-danger"
              >Supprimer</a
            >
          </td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
