{% extends 'blog/layout.html' %} {% block body %}
<div class="content">
  <input style="background-color: rgb(142 102 74);"
    class="btn btn-primary"
    type="button"
    value="Retour"
    onClick="javascript:history.go(-1);"
  />
  <div style="text-align: right;">
  <button style="background-color: rgb(142 102 74);" onclick="window.location.href = '/historique_commandes';" class="btn btn-primary">Historique</button>
</div>
  <div style="color: #fff" class="title text-center">
    <h1>Liste des Ventes</h1>
    <form method="POST">
      {% if error_message %}
      <div class="error">{{ error_message }}</div>
      {% endif %} {% csrf_token %} {% if messages %}
      <div class="alert alert-danger">
        {% for message in messages %} {{ message }} {% endfor %}
      </div>
      {% endif %}
      <div class="form-row">
        <div class="form-group">
          <label style="color: #fff" for="client">Produit</label>
          <select class="form-control" name="produit">
            <option  value="">Sélectionner un produit</option>
            {% for article in articles %}
            <option value="{{ article.name }}">{{ article.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label style="color: #fff" for="barcode">Quantite</label>
          <input
            required="required"
            type="number"
            class="form-control"
            name="qty"
          />
        </div>
        <div class="form-group">
          <label style="color: #fff" for="client">Vendre à</label>
          <select class="form-control" name="client">
            <option value="">Sélectionner un client</option>
            {% for client in clients %}
            <option value="{{ client.id }}">{{ client.name }}</option>
            {% endfor %}
          </select>
        </div>

        <div  class="form-group mt-4 pt-2 ml-3">
          <button style="background-color: rgb(142 102 74);" type="submit" class="btn btn-info">Ajouter</button>
        </div>
      </div>
    </form>
  </div>

  <div class="display component text-center">
    <table class="table article text-center">
      <thead>
        <tr>
          <th style="color: #fff" scope="col">#</th>
          <th style="color: #fff" scope="col">Nom</th>
          <th style="color: #fff" scope="col">Code barre</th>
          <th style="color: #fff" scope="col">Prix unitaire</th>
          <th style="color: #fff" scope="col">Nombre d'article</th>
          <th style="color: #fff" scope="col">Fournisseur</th>
          <th style="color: #fff" scope="col">Vendre à</th>
          <th style="color: #fff" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for commande in commandes %}
        <tr class="{{ commande.id }}">
          <th scope="row">{{ forloop.counter }}</th>
          <td style="color: #fff">{{ commande.article.name }}</td>
          <td style="color: #fff">{{ commande.article.barcode }}</td>
          <td style="color: #fff">{{ commande.article.price }}</td>
          <td style="color: #fff">{{ commande.quantite }}</td>
          <td style="color: #fff">{{ commande.article.provider.name }}</td>
          <td style="color: #fff">{{ commande.client.name }}</td>

          <td class="d-flex align-items-center justify-content-around">
            <form
              action="{% url 'delete_all_articles' commande.id %}"
              method="POST"
            >
              {% csrf_token %}
              <button style="background-color: #b40404e6;" type="submit" class="btn btn-danger">Supprimer</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action="{% url 'paiement' %}" method="post" class="mt-4">
      {% csrf_token %}
      <button type="submit" class="btn btn-success">Valider</button>
    </form>
  </div>
</div>

{% endblock %}
