{% extends 'blog/layout.html' %} {% block body %}
<div class="content">
	<input style="background-color: rgb(142 102 74);" class="btn btn-primary" type=button value="Retour" onClick="javascript:history.go(-1);">
	
	<div style="color: #fff" class="title text-center">
		<h1>List des Clients</h1>
		<div style="text-align: right;">
		  <a style="background-color: rgb(142 102 74);" class="btn btn-primary mt-2 mb-3" href="{% url 'new_client' %}" role="button">Nouveau</a>
		</div>
	  </div>

	<div class="display component text-center">
		<!-- client -->
		<table class="table client">
			<thead>
				<tr>
					<th style="color: #fff" scope="col">#</th>
					<th style="color: #fff" scope="col">Nom</th>
					<th style="color: #fff" scope="col">Portable</th>
					<th style="color: #fff" scope="col">Adresse</th>
					<th style="color: #fff" scope="col">Code postal</th>
					<th style="color: #fff" scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for client in listclient %}
				<tr class="{{client.id}}">
					<th scope="row">{{forloop.counter}}</th>
					<td style="color: #fff">{{client.name}}</td>
					<td style="color: #fff">{{client.phone}}</td>
					<td style="color: #fff">{{client.address}}</td>
					<td style="color: #fff">{{client.zip_code}}</td>
					<td><a style="background-color: rgb(196, 145, 109);" href="{% url 'edit_client' client.id %}"
						class="btn btn-warning">Modifier</a>
						 <a style="background-color: #b40404e6;"
						href="{% url 'delete_client' client.id %}"
						class="btn btn-danger">Supprimer</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
