{% extends 'blog/layout.html' %} {% block body %}
<div class="content">
	<input class="btn btn-primary" type=button value="Retour" onClick="javascript:history.go(-1);">
	
	<div class="title text-center">
		<h1>List des Clients</h1>
		<a class="btn btn-primary mt-2 mb-3" href="{% url 'new_client' %}" role="button">Nouveau</a>
	</div>

	<div class="display component text-center">
		<!-- client -->
		<table class="table client">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nom</th>
					<th scope="col">Portable</th>
					<th scope="col">Adresse</th>
					<th scope="col">Code postal</th>
					<th scope="col">Modification / Suppresion</th>
				</tr>
			</thead>
			<tbody>
				{% for client in listclient %}
				<tr class="{{client.id}}">
					<th scope="row">{{forloop.counter}}</th>
					<td>{{client.name}}</td>
					<td>{{client.phone}}</td>
					<td>{{client.address}}</td>
					<td>{{client.zip_code}}</td>
					<td><a href="{% url 'edit_client' client.id %}"
						class="btn btn-warning">Modifier</a> <a
						href="{% url 'delete_client' client.id %}"
						class="btn btn-danger">Supprimer</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
