{% extends 'blog/layout.html' %} {% block body %}
<div class="edit-background">
  <input style="background-color: rgb(142 102 74);"
    class="btn btn-primary"
    type="button"
    value="Retour"
    onClick="javascript:history.go(-1);"
  />
  {% comment %} <div class="search-bar">
    <form method="GET" action="{% url 'historique' %}">
      <input
        type="text"
        name="search"
        placeholder="Search by name"
        value="{{ search }}"
      />
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div> {% endcomment %}
  <div style="color: #fff" class="edit-title text-center">
    <div class="">
      <h1>Historique des Commandes</h1>
    </div>
  </div>
  <table class="table article text-center">
    <thead>
      <tr>
        <th style="color: #fff" scope="col">#</th>
        <th style="color: #fff" scope="col">Nom</th>
        <th style="color: #fff" scope="col">Prix unitaire</th>
        <th style="color: #fff" scope="col">Nombre d'article</th>
        <th style="color: #fff" scope="col">Fournisseur</th>
        <th style="color: #fff" scope="col">Vendu à</th>
      </tr>
    </thead>
    <tbody>
      {% for commande in hist_commandes %}
      <tr class="{{ commande.id }}">
        <th scope="row">{{ forloop.counter }}</th>
        <td style="color: #fff">{{ commande.article.name }}</td>
        <td style="color: #fff">{{ commande.article.price }}</td>
        <td style="color: #fff">{{ commande.quantite }}</td>
        <td style="color: #fff">{{ commande.article.provider.name }}</td>
        <td style="color: #fff">{{ commande.client.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
