{% extends 'blog/layout.html' %}
{% block body %}
<div class="edit-background">
    <input class="btn btn-primary" type="button" value="Retour" onClick="javascript:history.go(-1);">
    
    <div class="edit-title text-center">
        <div class="">
            <h1>Nouveau stock</h1>
        </div>
    </div>

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    
    <div class="edit-body">
        <div class="edit-component edit-left-box">
            <div class="edit-box edit-stock-informations">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="article">Article</label>
                            <select class="form-control" name="article">
                                {% for article in list_article %}
                                    <option value="{{ article.id }}">{{ article.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="stock">Stock</label>
                            <input type="number" class="form-control" name="stock">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info">Ajouter</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
