{% extends 'blog/layout.html' %} {% block body %}
<div class="edit-background">
	<input class="btn btn-primary" style="background-color: rgb(170, 110, 68);" type=button value="Retour" onClick="javascript:history.go(-1);">
	
	<div class="edit-title text-center">
		<div class="">
			<h1 style="color: #fff">Nouveau produit</h1>
		</div>
	</div>
	{% if messages %}
    <ul style="color: #fff" class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
	<div class="edit-body">
		<div class="edit-component edit-left-box">
			<div class="edit-box edit-article-informations">
				<form method="POST">
					{% csrf_token %}
					<div class="form-row">
						<div class="form-group col-md-6">
							<label style="color: #fff" for="name">Nom</label> <input type="text"
								class="form-control" name="name" value="{{article.name}}">
						</div>
						<div class="form-group col-md-6">
							<label style="color: #fff" for="phone">Prix</label> <input type="number" step="0.01"
								class="form-control" name="price" value="{{article.price}}">
						</div>
						<div class="form-group col-md-6">
							<label style="color: #fff" for="phone">Code bare</label> <input type="number"
								class="form-control" name="barcode" value="{{article.barcode}}">
						</div>
						<div class="form-group col-md-6">
							<label style="color: #fff" for="address">Quantité</label> <input type="number"
								class="form-control" name="quantite" value="{{article.quantite}}">
						</div>
						<div class="form-group col-md-6">
							<label style="color: #fff" for="provider">Fournisseur</label> <select
								class="form-control" name="provider">
								{% for provider in list_provider %} 
								{% if provider.id == article.provider.id %}
								<option value="{{article.provider.id}}" selected="selected">{{article.provider.name}}</option>
								{% else %}
								<option value="{{provider.id}}">{{provider.name}}</option>
								{% endif %} 
								{% endfor %}
							</select>
						</div>
					</div>
					<button type="submit" class="btn btn-info" style="background-color: rgb(142 102 74);">Ajouter</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}