{% extends 'blog/layout.html' %} {% block body %}
<div class="edit-background">
	<input style="background-color: rgb(142 102 74);" class="btn btn-primary" type=button value="Retour" onClick="javascript:history.go(-1);">
	
	<div class="edit-title text-center">
		<div style="color: #fff" class="">
			<h1>Nouveau fournisseur</h1>
		</div>
	</div>
	{% if messages %}
    <ul style="color: #fff" class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
	<div class="edit-body">
		<div class="edit-component edit-left-box">
			<div class="edit-box edit-provider-informations">
				<form method="POST">
					{% csrf_token %}
					<div class="form-row">
						<div style="color: #fff" class="form-group col-md-6">
							<label for="name">Nom</label> <input type="text"
								class="form-control" name="name" value="{{provider.name}}">
						</div>
						<div style="color: #fff" class="form-group col-md-6">
							<label for="phone">Phone</label> <input type="number"
								class="form-control" name="phone" value="{{provider.phone}}">
						</div>
						<div style="color: #fff" class="form-group col-md-6">
							<label for="address">Adresse</label> <input type="text"
								class="form-control" name="address" value="{{provider.address}}">
						</div>
						<div style="color: #fff" class="form-group col-md-6">
							<label for="zip_code">Code postal</label> <input type="number"
								class="form-control" name="zip_code"
								value="{{provider.zip_code}}">
						</div>
					</div>
					<button style="background-color: rgb(142 102 74);" type="submit" class="btn btn-info">Ajouter</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
