{% extends 'blog/layout.html' %} {% block body %}
<div class="content">
	<input class="btn btn-primary" type=button value="Retour" onClick="javascript:history.go(-1);">
	
	<div class="title text-center">
		<h1>Fournisseur</h1>
		<a class="btn btn-primary mt-2 mb-3" href="{% url 'new_provider' %}" role="button">Nouveau</a>
	</div>

	<div class="display component text-center">
		<!-- Provider -->
		<table class="table provider">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nom</th>
					<th scope="col">Portable</th>
					<th scope="col">Adresse</th>
					<th scope="col">Code postal</th>
					<th scope="col">Modification / Suppresion</th>
				</tr>
			</thead>
			<tbody>
				{% for provider in listprovider %}
				<tr class="{{provider.id}}">
					<th scope="row">{{forloop.counter}}</th>
					<td>{{provider.name}}</td>
					<td>{{provider.phone}}</td>
					<td>{{provider.address}}</td>
					<td>{{provider.zip_code}}</td>
					<td><a href="{% url 'edit_provider' provider.id %}"
						class="btn btn-warning">Modifier</a> <a
						href="{% url 'delete_provider' provider.id %}"
						class="btn btn-danger">Supprimer</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
